*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.button {
    border: none;
    height: 90px;
    width: 90px;
    text-align: center;
    background-color:#3f2a56;
    color: white;
    border: solid #261934 1px;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
}

.button:hover{
    background-color:#261934;
}

#btnequals:hover{
    background-color: #993722;
}


.doubleSizeButton{
    height: 90px;
    width: 180px;
}

#btnequals{
    background-color: #ff5c39;
}

#Affichage{
    height:90px;
    width: 358px;
    border:none;
    font-size: 2cm;
    background-color: #ff5c39;
    color:white;
    border: solid #261934 1px;
    text-align: right;
}

table{
    width:360px;
    height:540px;
    border: solid #261934 1px;
    border-spacing: 0px;
}